@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-semibold;
  }
}

/* @layer utilities {
  .cursor-transparent {
    @apply cursor-none;
    cursor: url(https://img.freepik.com/premium-vector/vector-transparent-checkerboard-transparent-pattern-background_546559-436.jpg),
      default;
  }
} */

body {
  @apply bg-black overflow-hidden;
}

#__next {
  @apply bg-slate-900 p-4;
}
.__json-pretty__ {
  @apply py-2 px-2;
}

* {
  @apply cursor-none scrollbar-thin scrollbar-thumb-slate-800 scrollbar-track-slate-900 scrollbar-thumb-rounded-3xl;
}

.min-h-screen-relaxed {
  height: calc(100dvh - 32px);
  margin-block: auto;
}

.min-w-screen-relaxed {
  width: calc(100vw - 16px);
  margin-inline: auto;
}
